@charset "utf-8";
@import "variables";
// Printing
$enable-print-styles:       true;
$print-page-size:           a4 ;
$print-body-min-width:      map-get($grid-breakpoints, "lg");

$btn-padding-y:               0.125rem;
$btn-padding-x:               0.25rem;
$btn-line-height:             1.125;
$pagetitle-padding:           2rem !default;
$pagetitle-bg:                transparent;
$pagetitle-fg:                $thesis-banner-fg;
$font-size-toc:                max(($font-size-base * .85),0.751rem);
$spacer-toc:                  .5rem;
// Required
@import "bootstrap/scss/variables";
@import "variables";
@import "bootstrap/scss/mixins";
//load boostrap print
@import "bootstrap/scss/print";
// add site specific below

@import "common";
h1{ page-break-before:always;}

@media print {
  .thesis-header{ page-break-after: always;}
  .thesis-header,
  .footer{
    background-color: $pagetitle-bg!important;
    box-shadow: none;
    &, h1,.title,.subtitle,.authors,
    & a {
      color: black;
    }
  }
  .thesis-toc, .btn-goto{display: none;}
  abbr{text-decoration: none;}
}
